@import url("https://fonts.cdnfonts.com/css/avenir-next-lt-pro");

.arcgiscard {
    flex-grow: 1;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    display: flex;
    background: transparent;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
}

.arcgiscard img {
    object-fit: contain;
    width: 100%;
    max-height: 50%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.arcgiscard p {
    background: white;
    text-align: center;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.arcgiscard .title {
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}

.arcgiscard .desc {
    padding: 5px;
    flex-grow: 1;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arcgiscard .ctabtn {
    margin: 10px 10px 10px 10px;
    background: #0079c1;
    color: white;
}

.ctabtn.outline {
    background: white;
    color: #0079c1;
    border: 1px solid #0079c1;
}

.cardrow {
    margin: 0px 5%;
}

.cardrow .cardcol {
    height: 100%;
}

html,
body,
.carousel {
    height: 100%;
    background: transparent;
    font-family: "Avenir Next LT Pro", sans-serif;
}
.carousel-inner {
    height: 100%;
}
.carousel-item.active {
    height: 100%;
    display: flex !important;
    justify-content: center;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23006FAD' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23006FAD' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}
.carousel-control-prev {
    background: linear-gradient(90deg, white, transparent);
}
.carousel-control-next {
    background: linear-gradient(-90deg, white, transparent);
}
.row {
    justify-content: space-evenly !important;
    width: 100% !important;
}
